<div class="row " style="height: 96vh;">
    <!--tools-bar componente que con el conjunto de elementos que se pueden agregar a un documento, texto, IMG, tablas et -->
    <div class="col" style="height: 96vh;"><app-tools-bar></app-tools-bar></div>
    <!--blanck-pages pagina donde se diseña el documento -->
    <div class="col border" style="height: 96vh;"><app-blanck-pages ></app-blanck-pages></div>
    <!--setting-bar configuraciones de los elementos selecionados-->
    <div class="col" style="height: 96vh;"><app-setting-bar></app-setting-bar></div>
</div>
